<div class="comment animated zoomIn delay-2s">      
  <strong>COMMENT</strong>
    <div class="comment-container">
      <table>
        <tr>
          <td>{{yourname}}</td>
          <td>{{comment}}</td>
        </tr>
      </table>
    </div>
</div>