<td class="form">
  <fieldset class="form-layout">
    <legend>Fill up your comment</legend>
      <form class="form-setting" action="/container/{{id}}" method="POST">
        <table>
          <tr>
            <td>
              <label for="yourname">Name: </label>
            </td>
            <td>
              <input type="text" placeholder="Your name" name="yourname" value="">
            </td>
          </tr>
          <tr>
            <td>
              <label for="comment">Comment: </label>
            </td>
            <td>
              <input type="text" size="50px" placeholder="How you feel about the video" name="comment" value="">
            </td>
          </tr>
        </table>
        <button class="animate-me" type="submit">Submit</button>
      </form>
  </fieldset>
</td>