<div class="describe animated zoomIn slow delay-1s">
  <table class="detail">
    <tr>
      <td rowspan="2">
        <img src="{{userImage}}" alt="">
      </td>
    </tr>
    <tr>
      <td>Sharer:</td>
      <td>{{user}}</td>
    </tr>
    <tr>
      <td>Describe:</td>
      <td>{{detail}}</td>
    </tr>
  </table>
</div>