<div class="link animated jackInTheBox delay-3s">
  <a href="/container">Back to videos</a>
</div>

<table class="indivDescription">
  <tr>
    <td>
      <div class="videoDisplay">
        <iframe width="560" height="315" src="{{link}}" frameborder="10" allowfullscreen></iframe>
      </div>
    </td>
    <td>
      <div class="describe animated fadeIn slower delay-2s">
        <p>
          {{comment}}
        </p> 
    </td>
  </tr> 
  <tr>
    <td colspan="">
      <form action="URL to form script" method="POST">
        Your name: <br>
        <input type="text" name="realname"><br>
        <br>

        Your comments: <br>
        <textarea name="comments" rows="15" cols="50"></textarea><br><br>
        <input type="submit" value="Submit">   
      </form>
    </td>
  </tr>
</table>

