<div class="link animated jackInTheBox delay-2s">
  <a href="/container">Back to videos</a>
</div>
<table class="indivDescription">
  <tr>
    <td>
      <div class="videoDisplay">
        <iframe width="750" height="550" src="{{link}}" frameborder="10" allow="autoplay" allowfullscreen></iframe>
      </div>
      <div class="link animated pulse infinite">
        <a href="/container/editVideo/{{id}}">Edit this video</a>
      </div>
    </td>
    <td>
      {{>user}}
      {{>comment}}
      {{>like}}
    </td>
  </tr> 
  <tr>
    {{>form}}
  </tr>
</table>

