<div class="container">
  <table>
     <tr>
      <td class="animated fadeInLeft slow">
        <img src="/images/Alice.png" alt="Alice">
      </td>
      <td class="animated fadeInUp slow">
        <img src="/images/Kevin.png" alt="Kevin">
      </td>
      <td class="animated fadeInUp slow">
        <img src="/images/Vincent.png" alt="Vincent">
      </td>
      <td class="animated fadeInRight slow">
        <img src="/images/Josh.png" alt="Josh">
      </td>
    </tr>
    <tr class="introduce">
      <td colspan="4">
        <h2 class="animated bounceInDown slow delay-1s">Welcome to our page</h2>
        <div class="link animated jackInTheBox delay-3s">
          <a href="/container">Go to our Collection</a>
        </div>
        <div class="describe animated fadeIn slower delay-2s">
          <p>
            Discover and explore high quality entertainment to sustain you through the national lockdown.
            The free viewing content is streaming for your enjoyment, showing trending content,  
            premium music, and hilarious comedy. Explore your options, peruse the platform.
          </p>
          <p> 
            There is a great selection available to keep you entertained while you are home and practicing active relaxing in your lockdown!!
            Here to help you through! 
            Lockdown Entertainment
          </p>
        </div>
      </td>
    </tr>
  </table>
</div>