*{
  margin: 0;
  padding: 0;
}
html{
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(black,gray);
}

/* HOME PAGE */
.title{
  width: 100vw;
  text-align: center;
}

.title h1{
  margin: 0;
  font-size: 8rem;
  color: brown;
  text-shadow: 6px 6px 6px darkred;
}

.container{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.introduce td{
  padding: 0;
}

.introduce td h2{
  color: whitesmoke;
  font-size: 4rem;
  transition: 2s ease-out;
}

.link{
  width: 250px;
  text-align: center;
  font-size: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  border: outset 2px black;
  box-shadow: 4px 4px black;
  background-color: darkred;
  border-radius: 15px;
}

.link a{
  text-decoration: none;
  color: black;
}

.link:hover{
  cursor: pointer;
  border: inset 2px transparent;
  background-color:transparent;
}

.link a:hover{
  color: whitesmoke;
}

.describe{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  text-align: justify;
  text-align-last: left;
  padding: 25px;
  width: 70%;
  color: black;
  background: linear-gradient(gray, gainsboro);
  font-size: 1.5rem;
  border: outset gray 1px;
  border-radius: 15px;
}

.container img{
  width: 20vw;
  border: 5px darkred inset;
  border-radius: 50%;
}

/* CONTAINER PAGE */
.collection{
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.thumbnail img{
  border: inset 1.5px gray;
  border-radius: 15px;
  width: 70%;
  align-self: center;
}

.sliding{
  background: linear-gradient(to left, black, darkred, black);
  color: whitesmoke;
  text-align: center;
  font-size: 2rem;
  width: 100%;
  padding: 1%;
  border: solid white 1px;
  border-left-style: none;
  border-right-style: none;
}

.contain{
  display: inline-block;
  background: linear-gradient(brown, black);
  border-radius: 25px;
  margin: 1%;
  padding: 1%;
  border: outset 1px gray;
  width: 50%;
}

.contain tr td:nth-of-type(1){
  color: goldenrod;
  font-size: 1.5rem;
}

.contain tr td:nth-of-type(2){
  color: whitesmoke;
  font-size: 1.5rem;
}

/* EACH VIDEO PAGE */

.indivDescription {
  display: flex;
  width: 90%;
  margin: auto;
}
